<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sangoes.boot.uc.modules.admin.mapper.DictMapper">
    <!--根据字典类型(dictKey) 获取字典树形-->
    <select id="dictOneTree" resultType="com.sangoes.boot.uc.modules.admin.entity.Dict">
        SELECT *
        FROM dict as d
        WHERE d.id = (SELECT dt.id FROM dict as dt WHERE dt.dict_key = #{dictKey})
           or d.parent_id = (SELECT dt.id FROM dict as dt WHERE dt.dict_key = #{dictKey})
    </select>
    <!--根据字典类型(dictKey) 获取列表-->
    <select id="dictOneList" resultType="com.sangoes.boot.uc.modules.admin.entity.Dict">
        SELECT *
        FROM dict as d
        WHERE d.parent_id = (SELECT dt.id FROM dict as dt WHERE dt.dict_key = #{dictKey})
    </select>
    <!--查询字典的所有子节点-->
    <select id="selectChildList" resultType="com.sangoes.boot.uc.modules.admin.entity.Dict">
        select *
        from dict
        where FIND_IN_SET(id, getDictChildList(#{rootDict}));
    </select>
</mapper>
