<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sangoes.boot.uc.modules.admin.mapper.SysUserMapper">

    <!-- userDetails级联 -->
    <resultMap id="userDetailsCascadeResult" type="com.sangoes.boot.uc.modules.admin.vo.UserDetailsVo">
        <id column="id" property="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="status" column="status"/>
        <collection property="roles" resultMap="roleResult"/>
    </resultMap>

    <!--role-->
    <resultMap id="roleResult" type="com.sangoes.boot.uc.modules.admin.entity.SysRole">
        <id column="id" property="id"/>
        <result property="roleName" column="role_name"/>
        <result property="roleCode" column="role_code"/>
    </resultMap>

    <!--根据username查询userDetails-->
    <select id="selectUserDetailsByUsername" resultMap="userDetailsCascadeResult">
        SELECT u.id,
               u.username,
               u.password,
               u.status,
               r.role_name,
               r.role_code,
               r.status,
               r.des
        FROM sys_user u
                 LEFT JOIN sys_user_role ur ON ur.user_id = u.id
                 LEFT JOIN sys_role r ON r.id = ur.role_id
        WHERE u.username = #{username}
          AND u.deleted = 1
    </select>
    <!--根据手机号查询userDetails-->
    <select id="userDetailsByMobile" resultMap="userDetailsCascadeResult">
        SELECT u.id,
               u.username,
               u.password,
               u.status,
               r.role_name,
               r.role_code,
               r.status,
               r.des
        FROM sys_user u
                 LEFT JOIN sys_user_role ur ON ur.user_id = u.id
                 LEFT JOIN sys_role r ON r.id = ur.role_id
        WHERE u.mobile = #{mobile}
          AND u.deleted = 1
    </select>
    <!--部门成员列表-->
    <select id="listDepartMembers" resultType="com.sangoes.boot.uc.modules.admin.entity.SysUser">
        SELECT *
        FROM sys_user AS su
                 LEFT JOIN user_depart AS ud on ud.user_id = su.id
        WHERE ud.depart_id = #{departId}
    </select>
    <!--根据roleCode查询用户-->
    <select id="listByRoleCode" resultType="com.sangoes.boot.uc.modules.admin.entity.SysUser">
        SELECT su.*
        FROM sys_role AS sr
                 LEFT JOIN sys_user_role AS sur ON sur.role_id = sr.id
                 LEFT JOIN sys_user AS su ON su.id = sur.user_id
        WHERE sr.role_code = #{roleCode}
    </select>


</mapper>
